{% extends 'base.html' %}
<h1>This is an index page.</h1>
{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h1 class="this center">Recent Blogs</h1>
                <br /><br  />
            </div>
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card" style="background:url({{ post.image.url }}); width: 20rem; height: 20rem;">
                        <div class="card-header">
                            <h3 class="post-title"><a href="/post/{{post.slug}}">{{ post.title }} </a></h3>
                        </div>

                        <p>{{ post.summary }}</p>

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}




